.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  background-size: cover;
  background-position: center;
}

#quote {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quote-item {
  width: 25%;
  text-align: center;
  margin: 1rem;
}
